<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
Design by http://sc.chinaz.com
Released for free under a Creative Commons Attribution 3.0 License
-->
{% load staticfiles %}	
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>修改密码</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="{% static "style.css" %}" rel="stylesheet" type="text/css" />
<!-- CuFon: Enables smooth pretty custom font rendering. 100% SEO friendly. To disable, remove this section -->

<script type="text/javascript"  language="JavaScript">
function check()
{
	var pwd1=document.form1.password1.value;
	var pwd2=document.form1.password2.value;
	if (pwd2!=pwd1){
		alert("两次输入密码不同!");
		form1.password2.focus();
        return false;
		}
	return true;
}
</script>
<!-- CuFon ends -->
</head>
<body>
<div class="main">

   <div class="header">
    <div class="header_resize">
     <div class="logo"><h1><a href="/home/">论文<span>管理</span> <small>欢迎进入论文管理系统！</small></a></h1></div>
      <div class="menu_nav">
        <ul>
          <li><a href="/home/">主页</a></li>
          <li><a href="/reference/">参考论文</a></li>
          <li><a href="/publish/">发表论文</a></li>
          {%ifequal b 0 %}<li><a href="/login/">登录&注册</a></li>
          {%else%} <li><a href="/personal/">{{b}}</a></li> 
          <li><a href="/loginout/">退出登录</a></li> 
          {%endifequal%}   
        </ul>
      </div>
      <div class="clr"></div>
    </div>
  </div>

  <div class="content">
    <div class="content_resize">
      <div class="mainbar">
        <div class="article">
          <h2>修改密码</h2>
          <p>请输入原密码和新密码</p>
        </div>
        <div class="article"><div class="clr"></div>
          <form  method="post"  onsubmit="return check()" id="sendemail" name="form1"  >
          <ol><li>
            {%ifequal a 1 %}<input name="explain" style="border:none;"  class="text" readonly="readonly" value="原密码输入不正确">
            {%endifequal%}
            <label for="password0" >原密码：</label>
            <input id="password0" name="password0" class="text" type="password"  placeholder="Old Password" required/>
          </li>
          <li>
            <label for="password1" >新密码：</label>
            <input id="password" name="password1"   type="password"  class="text" placeholder="New Password" required  />
          </li>
          <li>
            <label for="password2" >重复密码：</label>
            <input id="password" name="password2"  type="password" class="text"  placeholder="Password Again" required />
          </li>
          <li>
            <input type="submit" name="sub" value="" style="background:url('{% static "submit.gif" %}')no-repeat;  width:90px; height:30px; border:none;" />
            <div class="clr"></div>
          </li></ol>
          </form>
        </div>
      </div>
      <div class="clr"></div>
    </div>
  </div>

</div>
<div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div></body>
</html>
