<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
Design by http://sc.chinaz.com
Released for free under a Creative Commons Attribution 3.0 License
-->
{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>个人信息</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="{% static "style.css" %}" rel="stylesheet" type="text/css" />
<!-- CuFon: Enables smooth pretty custom font rendering. 100% SEO friendly. To disable, remove this section -->
<script type="text/javascript" src="js/cufon-yui.js"></script>
<script type="text/javascript" src="js/arial.js"></script>
<script type="text/javascript" src="js/cuf_run.js"></script>
<!-- CuFon ends -->
</head>
<body>
<div class="main">

   <div class="header">
    <div class="header_resize">
     <div class="logo"><h1><a href="/home/">论文<span>管理</span> <small>欢迎进入论文管理系统！</small></a></h1></div>
      <div class="menu_nav">
        <ul>
          <li><a href="/home/">主页</a></li>
          <li><a href="/reference/">参考论文</a></li>
          <li><a href="/publish/">发表论文</a></li>
          {%ifequal a 0 %}<li><a href="/login/">登录&注册</a></li>
          {%else%} <li class="active"><a href="/personal/">{{a}}</a></li> 
          <li><a href="/loginout/">退出登录</a></li> 
          {%endifequal%}   
        </ul>
      </div>
      <div class="clr"></div>
    </div>
  </div>

  <div class="content">
    <div class="content_resize">
      <div class="mainbar">
        <div class="article">
          <p><h2>{{a}}</h2><a href="/fix/">修改密码</a></p>
          <div class="clr"></div>
          <p>邮箱：{{inf.0.email}}</p>
          <p>联系电话：{{inf.0.tel}}</p>
          <p>工作量分数：{{inf.1}}</p>
        </div>
        <div class="article">
          <h2>作者关系</h2><div class="clr"></div>
          <p><font size="+1">与您共同发表过论文的有：</p>
          {%for author in inf.2%}
          <p>{%for i in author%}{{i}}&nbsp;&nbsp;{%endfor%}</p>
          {%endfor%}</font>
          <p>&nbsp;</p>
        </div>
      </div>
      <div class="sidebar">
        <div class="gadget">
            <p></p>
          <h2 class="star">发表的论文</h2>
          <table id="Table1" width="200">
          <tbody align="left">
            {%for paper in inf.3%}
            <tr>
              <th width="120"><a href="/pbmore/?id={{paper.PaperID}}">{{paper.Title}}</a></th>
              <th>{{paper.PublishDate}}</th>
            </tr>
            {%endfor%}
          </table>
          <div class="clr"></div>
          
        </div>
        
      </div>
      <div class="clr"></div>
    </div>
  </div>
  
</div>
<div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div></body>
</html>
